body {
	font-size: 1.1rem;
	text-align: left;
}

@media all and (min-width: 30em) {
	body {
		font-size: 1.5rem; 
	}
}

img, object, video {
	max-width: 100%;
	height: auto;
}

blockquote {
	font-style: italic;
	margin: 0 1rem 1rem;
}

/* Page Structure */

/* Container */
.container {
	max-width: 45rem;
	margin: 0 auto;
	padding: 0 1rem;
}

[role=banner] {
	overflow: hidden;
}

[role=contentinfo] {
	padding: 2rem 0;
	overflow: hidden;
}

.left {
	float: left;
	font-size: 0.95rem;
}

.right {
	float: right;
	font-size: 0.95rem;
}

/* Posts */
.posts {
	position: relative;
}

.post {
	padding: 3rem 0 3rem;
	position: relative;
}

.ad {
	position: absolute;
	width: 217px;
	height: 150px;
	background: yellow;
	left: -300px;
}
.ad img {
	max-width: 100%;
	width: 100%;
}

.ad-2 {
	right: -300px;
	left: auto;
}

.post-meta {
	overflow: hidden;
}

.tags {
	float: left;
}

.timestamp {
	float: right;
}

/* Title Slides */
.title-slide {
	text-align: center;
	display: table;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.title-content {
	display: table-cell; 
	vertical-align: middle;
}

#tumblr_controls {
	display:none;
}

#position {
	position: fixed;
	bottom: 0;
	left: 0;
	background: yellow;
	width: 200px;
	height: 30px;
}

